{% extends 'base.html.twig' %}
{% block body %}
    <br/>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                <ul class="nav nav-pills flex-column text-white">
                    <li class="nav-item">
                        <a class="nav-link text-white bg-warning" href="#"><h5>My Menu</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="{{ path('fm_payout') }}"><h5>Payout Request</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="{{ path('budget_year') }}"><h5>Budget Year Analysis</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="{{ path('fm_account') }}"><h5>Accounts</h5></a>
                    </li>
                </ul>
            </nav>

            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Home / Payout </li>
                </ol>

                <div class="card">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#pending" role="tab" aria-controls="pending">Pending Payout Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#approved" role="tab" aria-controls="approved">Approved Payout Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#onhold" role="tab" aria-controls="onhold">Onhold Payout Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#paid" role="tab" aria-controls="paid">Paid Payout Requests</a>
                        </li>
                    </ul><br/>

                    <div class="tab-content">
                        <div class="tab-pane active" id="pending" role="tabpanel">
                            <!--job position-->
                            <div class="row">
                                {% for payout in pending %}
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <h4 class="card-header">{{ payout.tmId }}</h4>
                                            <div class="card-block">
                                                <table class="table">
                                                    <tr>
                                                        <th>Requested On</th>
                                                        <td>:</td>
                                                        <td>{{ payout.wrDate }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Requested Amount</th>
                                                        <td>:</td>
                                                        <td>{{ payout.wrAmount }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Running Year/Experience</th>
                                                        <td>:</td>
                                                        <td>{{ payout.wtYear }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Department</th>
                                                        <td>:</td>
                                                        <td>{{ payout.tmDepartment }}</td>
                                                    </tr>
                                                </table>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">HOD Reviewed</h4>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{ payout.dhStatus }}</h6>
                                                        <p class="card-text">{{ payout.dhComment }}</p>
                                                        Last Updated on : {{ payout.dhApprovedDate }}
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">HR Reviewed</h4>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{ payout.hrStatus }}</h6>
                                                        <p class="card-text">{{ payout.hrComment }}</p>
                                                        Last Updated on : {{ payout.hrApprovedDate }}
                                                    </div>
                                                </div><br/>
                                                <form  method="POST" action="{{ path('fm_payout_approve', {'id': payout.wrId}) }}">
                                                    <div class="form-group">
                                                        <label for="exampleSelect2">Status</label>
                                                        <select class="form-control" id="exampleSelect2" name="status" required>
                                                            <option disabled selected="selected">select status</option>
                                                            <option value="Approved">Approve</option>
                                                            <option value="Rejected">Reject</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleTextarea">Comment here:</label>
                                                        <textarea class="form-control" id="exampleTextarea" name="comment" rows="3"></textarea>
                                                    </div>
                                                    <button class="btn btn-outline-warning" type="submit">Submit</button>
                                                </form>
                                           </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--end job positions-->

                        </div>
                        <div class="tab-pane" id="approved" role="tabpanel">
                            <!--job position-->
                            <div class="row">
                                {% for payout in approved %}
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <h4 class="card-header">{{ payout.tmId }}</h4>
                                            <div class="card-block">
                                                <table class="table">
                                                    <tr>
                                                        <th>Requested On</th>
                                                        <td>:</td>
                                                        <td>{{ payout.wrDate }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Requested Amount</th>
                                                        <td>:</td>
                                                        <td>{{ payout.wrAmount }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Running Year/Experience</th>
                                                        <td>:</td>
                                                        <td>{{ payout.wtYear }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Department</th>
                                                        <td>:</td>
                                                        <td>{{ payout.tmDepartment }}</td>
                                                    </tr>
                                                </table>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">HOD Reviewed</h4>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{ payout.dhStatus }}</h6>
                                                        <p class="card-text">{{ payout.dhComment }}</p>
                                                        Last Updated on : {{ payout.dhApprovedDate }}
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">HR Reviewed</h4>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{ payout.hrStatus }}</h6>
                                                        <p class="card-text">{{ payout.hrComment }}</p>
                                                        Last Updated on : {{ payout.hrApprovedDate }}
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">Your Review Details</h4>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{ payout.fmStatus }}</h6>
                                                        <p class="card-text">{{ payout.fmComment }}</p>
                                                        Last Updated on : {{ payout.fmApprovedDate}}
                                                    </div>
                                                </div>
                                                <br/>
                                                <form  method="POST" action="{{ path('payout_date') }}">
                                                    <div class="form-group">
                                                        <label for="example-date-input">Future Payout Date</label>
                                                        <input type="hidden" name="TM_id" value="{{ payout.tmId }}">
                                                        <input type="hidden" name="wr_id" value="{{ payout.wrId }}">

                                                        <input class="form-control" type="date" value="" id="example-date-input" name="p_date" required>
                                                    </div>
                                                    <button class="btn btn btn-outline-warning " type="submit">Save</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--end job positions-->

                        </div>
                        <div class="tab-pane" id="onhold" role="tabpanel">
                            <!--job position-->
                            <div class="row">
                                {% for payout in onhold %}
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <h4 class="card-header">{{ payout.tmId }}</h4>
                                            <div class="card-block">
                                                <table class="table">
                                                    <tr>
                                                        <th>Requested On</th>
                                                        <td>:</td>
                                                        <td>{{ payout.wrDate }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Requested Amount</th>
                                                        <td>:</td>
                                                        <td>{{ payout.wrAmount }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Running Year/Experience</th>
                                                        <td>:</td>
                                                        <td>{{ payout.wtYear }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Department</th>
                                                        <td>:</td>
                                                        <td>{{ payout.tmDepartment }}</td>
                                                    </tr>
                                                </table>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">HOD Reviewed</h4>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{ payout.dhStatus }}</h6>
                                                        <p class="card-text">{{ payout.dhComment }}</p>
                                                        Last Updated on : {{ payout.dhApprovedDate }}
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">HR Reviewed</h4>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{ payout.hrStatus }}</h6>
                                                        <p class="card-text">{{ payout.hrComment }}</p>
                                                        Last Updated on : {{ payout.hrApprovedDate }}
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">Your Review Details</h4>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{ payout.fmStatus }}</h6>
                                                        <p class="card-text">{{ payout.fmComment }}</p>
                                                        Last Updated on : {{ payout.fmApprovedDate}}
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">Payout Date</h4>
                                                        <p class="card-text">{{ payout.payoutDate }}</p>
                                                    </div>
                                                </div>
                                                <br/>
                                                <a href="/fm_payout_pay/{{ payout.wrId }}" class="btn btn-outline-warning">Pay Now</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--end job positions-->

                        </div>
                        <div class="tab-pane" id="paid" role="tabpanel">
                            <!--job position-->
                            <div class="row">
                                {% for payout in paid %}
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <h4 class="card-header">{{ payout.tmId }}</h4>
                                            <div class="card-block">
                                                <table class="table">
                                                    <tr>
                                                        <th>Requested On</th>
                                                        <td>:</td>
                                                        <td>{{ payout.wrDate }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Requested Amount</th>
                                                        <td>:</td>
                                                        <td>{{ payout.wrAmount }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Running Year/Experience</th>
                                                        <td>:</td>
                                                        <td>{{ payout.wtYear }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Department</th>
                                                        <td>:</td>
                                                        <td>{{ payout.tmDepartment }}</td>
                                                    </tr>
                                                </table>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">HOD Reviewed</h4>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{ payout.dhStatus }}</h6>
                                                        <p class="card-text">{{ payout.dhComment }}</p>
                                                        Last Updated on : {{ payout.dhApprovedDate }}
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">HR Reviewed</h4>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{ payout.hrStatus }}</h6>
                                                        <p class="card-text">{{ payout.hrComment }}</p>
                                                        Last Updated on : {{ payout.hrApprovedDate }}
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">Your Review Details</h4>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{ payout.fmStatus }}</h6>
                                                        <p class="card-text">{{ payout.fmComment }}</p>
                                                        Last Updated on : {{ payout.fmApprovedDate}}
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">Payout Date</h4>
                                                        <p class="card-text">{{ payout.payoutDate }}</p>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h4 class="card-title">Paid On</h4>
                                                        <p class="card-text">{{ payout.fmApprovedDate }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--end job positions-->

                        </div>
                    </div>

                    <script>
                        $(function () {
                            $('#myTab a:last').tab('show')
                        })
                    </script>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}